// colors
$FIRST_COLOR: #263238;
$SECOND_COLOR: #90caf9;
$THIRD_COLOR: #4b636e;
$FORTH_COLOR: #ffff00;
$FIFTH_COLOR: #f1c40f;

// border-radius
$BORDER_RADIUS_10: 10px;
$BORDER_RADIUS_5: 5px;
$BORDER_RADIUS_50_PERCENT: 50%;
